<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar', {links : links}) %>
    <p>hey man its me freakbob! this is freakbob's page, thats about it</p>
    <%- include('footer')%>
  </body>
</html>
